@import "1-Reset";
@import "2-colori";
@import "3-Font";
@import "4-Spaziature";
@import "5-Bottoni";
@import "6-Mixins-generici";
@import "7-animazioni";

body {
  font-family: $font-family;
  @include reset;
  font-size: $fon-size;
}
nav {
  background-color: $sfondo;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
h1 {
  @include titolo;
}
nav img {
  width: 100px;
  margin: 15px;
}
div a {
  margin: 15px;
  text-decoration: none;
  color: $textColor;
}
.heroSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $sfondo;
  margin: 20px;
  border-radius: 10px;
  color: $textColor;
}
.heroSectionText {
  padding: 10px;
  width: 100%;
}
.buttonHero :nth-child(1) {
  background-color: $button1;
  @include button-style1;
}
.buttonHero :nth-child(2) {
  background-color: $button2;
  @include button-style2;
}
.buttonHero :nth-child(3) {
  background-color: $button3;
  @include button-style3;
}
.imgHero {
  padding: 20px;
}
.imgHero img {
  width: 80%;
  border-radius: 10px;
  @include floating;
}
.griglia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.griglia div {
  padding: 30px;
}
.griglia img {
  width: 100%;
  border-radius: 10px;
  @include floating;
}
